/* A bunch of settings that don't make sense (Horrible at front-end  */

.title-label {
	font-family: 'Times New Roman', Times, serif;
	font-size: 72px;	
	margin: 20px;
	
}

.start-button {
	font-family: 'Times New Roman', Times, serif;
	font-size:   48px;
	margin: 35px;
}

.start-button:hover {
	outline-width: 3px;
	outline-offset: 0px;
	outline-color: #5251B8;
}


.button-grid {
    background-color: white;
    border: 2px solid black; 
    border-radius: 0;       
    font-size: 24px;
    font-weight: bold;
    min-height: 120px;
    min-width: 120px;
    padding: 0px;
}

.button-grid:hover {
	outline-offset: -10px;
	outline-width: 3px;
	outline-color: #47D238;
}

.top-row {
    border-top: none;
}
.bottom-row {
    border-bottom: none;
}
.left-col {
    border-left: none;
}
.right-col {
    border-right: none;
}

.menu {
	font-family: 'Times New Roman', Times, serif;
	font-size: 24px;
	margin: 3px;
}

.menu.p1Name {
	margin-bottom: 10px;
}

.menu.p2Name {
	margin-top: 10px;
}

.emnu.sym {
	margin: 25px;
}
